doctype html
html(lang='en')
  head
    title Jade
    link(href="css/app.css", type= "text/css", rel="stylesheet")
  body
    #gallery
    script(type="text/javascript", src="scripts/app.js", defer)
