/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }
  html body {
    min-height: 100%; }

#gallery {
  width: 500px;
  margin: 0 auto;
  position: relative; }
  #gallery .main {
    height: 500px;
    line-height: 50em;
    display: block;
    text-align: center; }
    #gallery .main img {
      max-width: 500px;
      max-height: 500px; }
  #gallery .thumbs {
    margin-top: 15px;
    text-align: center; }
    #gallery .thumbs .thumb {
      border: 1px solid #c8c8c8;
      cursor: pointer;
      margin: 0 5px;
      height: 70px;
      width: 70px;
      overflow: hidden;
      display: inline-block;
      line-height: 6.8em; }
      #gallery .thumbs .thumb img {
        width: 100%; }
  #gallery .next, #gallery .prev {
    border: 1px solid #2cafd9;
    background: #fff;
    color: #2cafd9;
    position: absolute;
    top: 250px;
    padding: 10px;
    outline: none;
    border-radius: 6px;
    cursor: pointer; }
    #gallery .next:hover, #gallery .prev:hover {
      border-color: #258fb1; }
  #gallery .next {
    right: -40px; }
  #gallery .prev {
    left: -40px; }
  #gallery .fullscreen {
    position: absolute;
    top: 10px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 12px;
    outline: none;
    right: -40px;
    border: 1px solid #2cafd9;
    color: #2cafd9;
    cursor: pointer; }
  #gallery.full {
    height: 100%;
    width: 100%; }
    #gallery.full .main {
      height: 100%; }
      #gallery.full .main img {
        max-height: 100%;
        max-width: 100%; }
    #gallery.full .fullscreen {
      right: 10px; }
      #gallery.full .fullscreen span {
        transform: rotate(45deg);
        display: inline-block; }
    #gallery.full .next {
      right: 10px;
      top: 50%; }
    #gallery.full .prev {
      left: 10px;
      top: 50%; }
    #gallery.full .thumbs {
      position: fixed;
      bottom: 10px;
      width: 100%; }
